<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon Tournament Dataset Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='layout.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='input.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='icons.css') }}">
    <style>
        .login-container {
            width: 70%;
        }

        .top-buttons {
            gap: 15px;
            margin-bottom: 20px;
        }

        .left-side {
            width: 30%;
            border-right: 2px solid black;
            margin-right: 20px;
        }

        #signin {
            z-index: 1;
        }

        #login {
            z-index:0;
        }

        .disclaimer {
            background-color: rgb(255, 128, 128);
            border-left: 5px solid red;
            padding: 5px;
            width: 90%;
            font-size: 10pt;
        }
    </style>
    <script>
        function SignUpScreen() {
            var x = document.getElementById('signin');
            x.style.display = 'block';
            document.getElementById("signinbutton").disabled = true;

            var y = document.getElementById('login');
            y.style.display = 'none';
            document.getElementById("loginbutton").disabled = false;
        }

        function LogInScreen() {
            var x = document.getElementById('login');
            x.style.display = 'block';
            document.getElementById("loginbutton").disabled = true;

            var y = document.getElementById('signin');
            y.style.display = 'none';
            document.getElementById("signinbutton").disabled = false;
        }
    </script>
</head>

<body>
    <header>
        <h1>Welcome</h1>
    </header>

    <div class="container login-container">
        <div class="flex">
            <div class="left-side">
                <div class="flex top-buttons">
                    <button onclick="SignUpScreen()" class="submit-button" id="signinbutton">Register</button>
                    <button onclick="LogInScreen()" class="submit-button" id="loginbutton">Log In</button>
                </div>

                <div id="signin" class="login-fields">
                    <h2>Create New Account</h2>
                    <p class="disclaimer">
                        Disclaimer: Please do not use any personally identifying information for your username or password.
                        <br />There are no restrictions on what either can be so just put something you'll remember
                    </p>
                    <form method="POST" action="{{ url_for('user') }}">
                        <label for="u_username">Username</label><br>
                        <input type="text" name="u_username" required><br>
                        <label for="u_password">Password</label><br>
                        <input type="password" name="u_password" required> <br>

                        <input class="submit-button" type="submit" name="newuser" value="Submit">
                    </form>
                </div>

                <div id="login" class="login-fields">
                    <h2>Log in to Existing Account</h2>
                    <p class="disclaimer">
                        Disclaimer: Please do not use any personally identifying information for your username or password.
                        <br />There are no restrictions on what either can be so just put something you'll remember
                    </p>
                    <form method="POST" action="{{ url_for('user') }}">
                        <label for="u_username">Username</label><br>
                        <input type="text" name="u_username" required><br>
                        <label for="u_password">Password</label><br>
                        <input type="password" name="u_password" required> <br>

                        <input class="submit-button" type="submit" name="userlogin" value="Submit">
                    </form>
                </div>
            </div>
            <img src="{{ url_for('static', filename='assets/dogburrito.jpg') }}">
        </div>
    </div>
</body>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        SignUpScreen();
    });
</script>
</html>
