<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/6269ea0e20.js" crossorigin="anonymous"></script>
    <title>Pokemon Tournament Dataset Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='layout.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='input.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='pokemondetails.css') }}">
</head>

<body>
    <header>
        <div class="flex">
            <div class="title-header">
                <h1>Pokemon</h1>
                {% if user[3] %}
                <a href="#popup" class="settings"><i class="fas fa-gear"></i></a>
                {% endif %}
            </div>
            <div class="dropdown username-label">
                <button class="dropbtn">{{user[1]}}</button>
                <div class="dropdown-content">
                    <a href="#">Notes <i class="fa-regular fa-file-lines"></i></a>
                    <a href="{{url_for('index')}}">Sign Out <i class="fa-solid fa-arrow-right-from-bracket"></i></a>
                </div>
            </div>
        </div>

        <div class="flex">
            <button class="navigation-button" onclick="document.location='{{ url_for('matches', m_tourneyid = tourneyid) }}'">Matches</button>
            <button class="navigation-button" onclick="document.location='{{ url_for('players', pl_tourneyid = tourneyid) }}'">Players</button>
            <button class="home-button" onclick="document.location='{{ url_for('tournamentlist') }}'">Home</button>
            <button class="navigation-button" onclick="document.location='{{ url_for('tournament', t_tourneyid = tourneyid) }}'">Tournament</button>
            <button class="navigation-button" onclick="document.location='{{ url_for('pokemon', po_tourneyid = tourneyid) }}'">Pokemon</button>
        </div>
    </header>

    <div id="popup" class="popup">
        <div class="popup-content">
            <h2>Edit Tournament</h2>

            <form method="POST" action="{{ url_for('editpokemon', po_tourneyid = tourneyid, po_pokeid = selectedpokemon[0]) }}">
                <label for="p_name">Pokemon Name</label><br>
                <input class="input-bars" type="text" name="p_name" value="{{selectedpokemon[1]}}" required><br>


                <input class="submit-button" type="submit" name="editpokemon" value="Submit">
                {% if user[4] %}
                    <a href="#inner-popup" class="submit-button">Delete</a>
                {% endif %}
                <a href="" class="submit-button">Close</a>
            </form>
        </div>
    </div>

    <div id="inner-popup" class="popup">
        <div class="popup-content">
            <h2>Are you sure?</h2>
            <form method="POST" action="{{ url_for('editpokemon', po_tourneyid = tourneyid, po_pokeid = selectedpokemon[0]) }}">
                <button class="submit-button" type="submit" name="deletepokemon" value="Submit">Delete</button>
            </form>
            <a href="#popup" class="submit-button">Return</a>
        </div>
    </div>

    <div class="flex">
        <div class="left-side">
            <div class="container base-window">
                <div class="flex-vertical">
                    <div class="flex">
                        <div class="titles">{{selectedpokemon[2]}}'s</div>
                        <button class="view-details detail-button-gap" onclick="document.location='{{ url_for('pokemontoplayer', po_tourneyid = tourneyid, po_playername = selectedpokemon[2]) }}'">Player Details</button>
                    </div>
                    <div class="flex name-card">
                        <div class="poke-name">
                            {{selectedpokemon[1]}}
                            {% if selectedpokemon[6] == 't' %}
                            <i class='fas fa-star big-star'><div class="dropdown-content">Tera Captain: This Pokemon is allowed make use of the Terastallization mechanic to change its type</div></i>
                            {% endif %}
                        </div>
                    </div>
                    {% if selectedpokemon[13] is not none %}
                    <div class="titles">A.K.A {{selectedpokemon[13]}}</div>
                    {% endif %}
                </div>

                {% if selectedpokemon[19] == 't' or selectedpokemon[19] == 'true' %}
                {% if pokemon_api.imageshiny is not none %}
                <img class="sub-color" src="{{ pokemon_api.imageshiny }}">
                {% else %}
                <img class="sub-color" src="{{ pokemon_api.shinybackup }}">
                {% endif %}
                {% else %}
                {% if pokemon_api.image is not none %}
                <img class="sub-color" src="{{ pokemon_api.image }}">
                {% else %}
                <img class="sub-color" src="{{ pokemon_api.imagebackup }}">
                {% endif %}
                {% endif %}

                <div class="flex centering">
                    <img class="type-image" src="{{type_api[selectedpokemon[3].lower()]}}">
                    {% if selectedpokemon[4] != "N/A" %}
                    <img class="type-image" src="{{type_api[selectedpokemon[4].lower()]}}">
                    {% endif %}
                </div>
                <div>
                    Tier: {{selectedpokemon[5]}}
                </div>
                <div>
                    Ability: {{selectedpokemon[11]}}
                </div>
                <div>
                    Item: {{selectedpokemon[12]}}
                </div>
            </div>
        </div>
        <div class="flex-vertical right-side">
            <div class="container stats-window">
                <h2>Performance</h2>
                <div class="stats-grid">
                    <div class="stats-container flex-vertical sub-container">
                        <div class="data-header">Kills</div>
                        <div class="highlight-data">{{selectedpokemon[7]}}</div>
                    </div>
                    <div class="stats-container flex-vertical sub-container">
                        <div class="data-header">Deaths</div>
                        <div class="highlight-data">{{selectedpokemon[8]}}</div>
                    </div>
                    <div class="stats-container flex-vertical sub-container">
                        <div class="data-header">Kill Streak</div>
                        <div class="highlight-data">{{selectedpokemon[10]}}</div>
                    </div>
                    <div class="stats-container flex-vertical sub-container">
                        <div class="data-header">KDR</div>
                        <div class="highlight-data">{{ "%.2f"|format(selectedpokemon[7] / selectedpokemon[8]) if selectedpokemon[8] != 0 else selectedpokemon[7] }}</div>
                    </div>
                    <div class="stats-container flex-vertical sub-container">
                        <div class="data-header">Avg Kills</div>
                        <div class="highlight-data">{{ "%.2f"|format(selectedpokemon[7] / selectedpokemon[9]) if selectedpokemon[9] != 0 else 0.00 }}</div>
                    </div>
                </div>
            </div>
            <div class="flex right-side">
                <div class="flex-vertical">
                    <div class="container move-window">
                        <h2>Moveset</h2>
                        <div class="stats-grid">
                            <div class="sub-container move-container">
                                {{selectedpokemon[14]}}
                            </div>
                            <div class="sub-container move-container">
                                {{selectedpokemon[15]}}
                            </div>
                            <div class="sub-container move-container">
                                {{selectedpokemon[16]}}
                            </div>
                            <div class="sub-container move-container">
                                {{selectedpokemon[17]}}
                            </div>
                        </div>
                    </div>
                    {% if best_sets is not none and best_sets|length > 0 %}
                    <div class="container best-sets-window">
                        <div class="flex">
                            <h2>Best Sets</h2>
                            <button class="submit-button sets-button-position" onclick="document.location='{{ url_for('getallsets', tourneyid = tourneyid, searchid = selectedpokemon[0]) }}'">All Sets <i class="fa-solid fa-arrow-right"></i></button>
                        </div>
                        {% for result in best_sets %}
                        <div class="sub-container best-sets-results">
                            <div>{{result[6]}}</div>
                            <div>Round:{{result[4]}}</div>
                            <div class="flex set-performance-grid">
                                <div>K: {{result[0]}}</div>
                                <div>D: {{result[1]}}</div>
                                <div>Killstreak: {{result[2]}}</div>
                            </div>
                            {% if result[3] is not none%}
                            <div>Tera: {{result[3]}}</div>
                            {% endif %}
                            <a class="view-details replay-button" href="{{result[5]}}" target="_blank">Watch Replay</a>
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                <div class="flex-vertical">
                    <div class="container usage-window">
                        <h2>Usage</h2>
                        <div class="stats-grid">
                            <div class="sub-container usage-container flex-vertical">
                                <div class="data-header">This Pokemon has been brought to</div>
                                <div class="highlight-data">{{selectedpokemon[9]}}/{{selectedpokemon[20]}}</div>
                                <div class="data-header">matches</div>
                            </div>
                            <div class="sub-container usage-container flex-vertical">
                                <div class="data-header">This is</div>
                                <div class="highlight-data highlight-percent">{{ "%.2f"|format((selectedpokemon[9] / selectedpokemon[20])*100) if selectedpokemon[20] != 0 else "0.00" }}%</div>
                                <div class="data-header"> of {{selectedpokemon[2]}}'s matches</div>
                            </div>
                        </div>
                    </div>
                    <div class="container base-stat-container">
                        {%  if pokemon_api is not none %}
                        <div class="flex">
                            <h2>Base Stats</h2>
                            <div class="nature-position">{{selectedpokemon[18]}} Nature</div>
                        </div>
                        <div class="flex">
                            <div class="stat-name">HP: {{ pokemon_api.stats.hp }}</div>
                            <div class="stat-box" style="width: {{ (selectedStats.hp / 700 * 100)|round }}%;"></div>
                            <div>{{selectedStats.hp}}</div>
                        </div>
                        <div class="flex {{'negative-nature' if nature_map.decreased == 'attack' else 'positive-nature' if nature_map.increased == 'attack' else ''}}">
                            <div class="stat-name">ATK: {{ pokemon_api.stats.attack }}</div>
                            <div class="stat-box" style="width: {{ (selectedStats.attack / 700 * 100)|round }}%;"></div>
                            <div>{{selectedStats.attack}}</div>
                        </div>
                        <div class="flex {{'negative-nature' if nature_map.decreased == 'defense' else 'positive-nature' if nature_map.increased == 'defense' else ''}}">
                            <div class="stat-name">DEF: {{ pokemon_api.stats.defense }}</div>
                            <div class="stat-box" style="width: {{ (selectedStats.defense / 700 * 100)|round }}%;"></div>
                            <div>{{selectedStats.defense}}</div>
                        </div>
                        <div class="flex {{'negative-nature' if nature_map.decreased == 'special-attack' else 'positive-nature' if nature_map.increased == 'special-attack' else ''}}">
                            <div class="stat-name">SPA: {{ pokemon_api.stats.sp_attack }}</div>
                            <div class="stat-box" style="width: {{ (selectedStats.sp_attack / 700 * 100)|round }}%;"></div>
                            <div>{{selectedStats.sp_attack}}</div>
                        </div>
                        <div class="flex {{'negative-nature' if nature_map.decreased == 'special-defense' else 'positive-nature' if nature_map.increased == 'special-defense' else ''}}">
                            <div class="stat-name">SPD: {{ pokemon_api.stats.sp_defense }}</div>
                            <div class="stat-box" style="width: {{ (selectedStats.sp_defense / 700 * 100)|round }}%;"></div>
                            <div>{{selectedStats.sp_defense}}</div>
                        </div>
                        <div class="flex {{'negative-nature' if nature_map.decreased == 'speed' else 'positive-nature' if nature_map.increased == 'speed' else ''}}">
                            <div class="stat-name">SPE: {{ pokemon_api.stats.speed }}</div>
                            <div class="stat-box" style="width: {{ (selectedStats.speed / 700 * 100)|round }}%;"></div>
                            <div>{{selectedStats.speed}}</div>
                        </div>
                        <div>BST: {{ pokemon_api.stats.hp + pokemon_api.stats.attack + pokemon_api.stats.defense + pokemon_api.stats.sp_attack + pokemon_api.stats.sp_defense + pokemon_api.stats.speed }}</div>
                        {% endif %}
                    </div>
                    <div class="container base-stat-container">
                        <h2>Notes</h2>
                        <form method="POST" action="{{ url_for('postnote', n_userid = user[0], n_pokeid = selectedpokemon[0], n_playerid = 0, n_matchid = 0, n_setid = 0, tourneyid = tourneyid) }}">
                            <input type="text" name="notepokemon" class="note-entry" placeholder="Write note here....">
                            <input type="submit" class="submit-button" value="Add Note">
                        </form>
                        <div>
                            {% if note_results is not none and  note_results|length > 0 %}
                            {% for note in note_results %}
                            <div class="note-results">
                                -"{{note[2]}}"
                            </div>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
